@font-face {
    font-family: "Open-Sans-Regular";
    src: url(../openSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open-Sans-Light";
    src: url(../openSans/OpenSans-Light.ttf);
}

